body {
  margin: 0;
}

.viz-wrapper {
	font-family: "Open Sans", sans-serif;
}

#viz {
	margin: 0 auto;
	display: table;
}
#viz path {
	fill: #eee;
}

#viz .cell-text {
	text-anchor: middle;
}
#viz .cell-text.indian-national-congress, #viz .cell-text.bharatiya-janata-party {
	fill: #fff;
}

#slider {
	margin: 0 auto;
	display: table;
}
#slider .slider-circle {
	fill: #df5a49;
}
#slider .slider-circle:hover {
	fill: #e74c3c;
}
#slider .slider-axis {
	font-family: "Open Sans", sans-serif;
}
#slider .slider-axis .domain {
	display: none;
}


.legend, .chart-source {
	margin: 0 auto;
	display: table;
	width: 850px;
	max-width: 100%;
	margin-top: 10px;
}
.chart-source {
	font-size: .8em;
	color: #888;
	
}
.legend-item, .legend-swatch, .legend-text {
	display: inline-block;
	vertical-align: middle;
}

.legend-item {
	margin-right: 10px;
}
.legend-swatch {
  height: 10px;
  width: 10px;
  border-radius: 3px;
}
.legend-swatch.cong {
	background: #2880b9;
}
.legend-swatch.cong-lite {
	background: #71afd8;
}
.legend-swatch.bjp {
	background: #e27a3f;
}
.legend-swatch.bjp-lite {
	background: #ffb992;
}
.legend-swatch.other {
	background: #eee;
}
.legend-text {
	font-size: .8em;
}

.viz-title {
	font-size: 2em;
	font-weight: bold;
}
.text-center {
	text-align: center;
}

.related-wrapper {
	margin-top: 40px;
}
h3.super {
	margin-top: 40px;
  color: #e74c3c;
}

.button.play {
	/*font-family: "Open Sans", sans-serif;*/
  /*border: 2px solid black;*/
	padding: 10px;
  color: #000;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,.08);
  cursor: pointer;
  background: #fff;
  margin: 0 auto;
  display: table;
  border-radius: 5px;
}
.button.play:hover {
  border-color: #ccc;
  border-bottom-color: #bbb;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  color: #666;
}

.help {
	font-size: .8em;
	color: #888;
	font-style: italic;
	text-align: center;
	/*font-family: "Open Sans", sans-serif;*/
}

.copy p {
	margin: auto;
	margin-bottom: 10px;
}



#stacked {
	margin: 0 auto;
	display: table;
}
#stacked .axis {
  font-family: "Open Sans", sans-serif;
}
#stacked .y.axis .domain {
  display: none;
}
#stacked .txt {
	text-anchor: middle;
	font-size: .6em;
}
#stacked .txt-bharatiya-janata-party, #stacked .txt-indian-national-congress {
	fill: #fff;
}

.toggle {
	text-align: center;
}
.toggle-item {
	display: inline-block;
	padding: 10px;
  color: #888;
  border: 1px solid #eee;
  box-shadow: 0 1px 2px rgba(0,0,0,.08);
  cursor: pointer;
  background: #fff;
  margin: 10px -2px;
}
.toggle-item:hover {
  border-color: #ccc;
  border-bottom-color: #bbb;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  color: #666;
}
.toggle-item.active {
  color: #3a403d;
  background: #f0f0f0;
  border-color: #ccc;
  border-top-color: #bbb;
  box-shadow: none;
  cursor: default;
}
.toggle-item:first-of-type {
	border-radius: 5px 0 0 5px;
}
.toggle-item:last-of-type {
	border-radius: 0 5px 5px 0;
}

.viz-supertitle {
	font-weight: bold;
	font-size: 1.1em;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	html, body {
		max-width: 100%;
		overflow-x: hidden;
	}
	.legend, .chart-source {
		padding: 0px 5px;
	}

	#stacked .txt {
		font-size: .5em;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}


