body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#viz {
	margin: 0 auto;
	display: table;
}
#viz path {
	fill: #eee;
}

#viz .cell-text {
	font-size: 2em;
	/*text-shadow: -3px -3px 1px #fff, -3px -2px 1px #fff, -3px -1px 1px #fff, -3px 0px 1px #fff, -3px 1px 1px #fff, -3px 2px 1px #fff, -3px 3px 1px #fff, -2px -3px 1px #fff, -2px -2px 1px #fff, -2px -1px 1px #fff, -2px 0px 1px #fff, -2px 1px 1px #fff, -2px 2px 1px #fff, -2px 3px 1px #fff, -1px -3px 1px #fff, -1px -2px 1px #fff, -1px -1px 1px #fff, -1px 0px 1px #fff, -1px 1px 1px #fff, -1px 2px 1px #fff, -1px 3px 1px #fff, 0px -3px 1px #fff, 0px -2px 1px #fff, 0px -1px 1px #fff, 0px 1px 1px #fff, 0px 2px 1px #fff, 0px 3px 1px #fff, 1px -3px 1px #fff, 1px -2px 1px #fff, 1px -1px 1px #fff, 1px 0px 1px #fff, 1px 1px 1px #fff, 1px 2px 1px #fff, 1px 3px 1px #fff, 2px -3px 1px #fff, 2px -2px 1px #fff, 2px -1px 1px #fff, 2px 0px 1px #fff, 2px 1px 1px #fff, 2px 2px 1px #fff, 2px 3px 1px #fff, 3px -3px 1px #fff, 3px -2px 1px #fff, 3px -1px 1px #fff, 3px 0px 1px #fff, 3px 1px 1px #fff, 3px 2px 1px #fff, 3px 3px 1px #fff;*/
	text-anchor: middle;
}

#slider {
	margin: 0 auto;
	display: table;
}
#slider .slider-circle {
	fill: red;
}
#slider .slider-axis .domain {
	display: none;
}